<div class="login-container">
  <h2>Login</h2>
  <form class="login-form">
    <input type="text" id="email-login" placeholder="Email">
    <input type="password" id="password-login" placeholder="Password">
    <button type="submit">Login</button>
  </form>

  <h2>Signup</h2>
  <form class="signup-form">
    <input type="text" id="name-signup" placeholder="Name">
    <input type="text" id="email-signup" placeholder="Email">
    <input type="password" id="password-signup" placeholder="Password">
    <button type="submit">Signup</button>
  </form>
</div>
<script src="../public/js/login.js"></script>
